@import 'bootstrap/dist/css/bootstrap.min.css';



body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background: linear-gradient(135deg, #3f4144 0%, #889199 50%, #a5aaaf 100%);
}